.movie-card {
    height: 440px;
    width: auto;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
}

.movie-card:hover {
    transform: scale(1.3) translateZ(20px);
    z-index: 2;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(43, 41, 41, 0.9);
    opacity: 0;
    tansition: 1s;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
}

.overlay:hover {
    opacity: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.overlay-content {
    margin-left: 1rem;
}

.movie-card-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.movie-card-genre {
    display: flex;
    flex-direction: row;
}

.badge {
    margin-right: 0.5rem;
}

.adult > img{
    width: 40px;
}

@media only screen and (max-width:699px) {
    .movie-card {
        height: 300px;
        width: auto;
    }
    .movie-card:hover {
        width: 100%;
        height: 100%;
        transform: scale(1) translateZ(20px);
        z-index: 2;
    }

}